/* general values */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.d-none {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

/* general values above */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 348px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: white;
  z-index: 1;
}

#join-logo-light {
  height: 121.97px;
  width: 100.03px;
}

.active {
  background-color: #091931;
}

#kanban-heading {
  font-weight: 400;
  size: 20px;
  line-height: 24px;
}

#header-right-side {
  display: flex;
  align-items: center;
  gap: 16px;
}

#header-right-side a {
  display: flex;
  justify-content: center;
  height: fit-content;
}

#help-logo {
  cursor: pointer;
}

#header-userprofile {
  cursor: pointer;
}

#legal-section {
  padding: 243px 0px 0px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#legal-section-flex {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

#legal-section-flex li {
  display: flex;
  justify-content: center;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background-color: #2a3647;
  height: 100%;
  padding: 64px 0px 64px 0px;
  z-index: 1;
}

#flex-list-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list-nav-element {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  width: 100%;
  padding: 8px 56px 8px 56px;
}

.hover-darkblue:hover {
  background-color: #091931;
}

#summary-list-element,
#addTask-list-element,
#board-list-element,
#contacts-list-element {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  font-weight: 400;
  font-size: 16px;
  padding-top: 80px;
}

.nav-list-span {
  line-height: 19.2px;
}

.legal-list-element a{
    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

.legal-list-span {
  line-height: 19.2px;
}
#flex-list-container-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}