<div>
    <img id="join-logo-light" src="../img/aside_and_header/join_logo_light.png" alt="join logo" />
</div>
<nav>
    <ul id="flex-list-container">
        <li id="summary-list-element" class="hover-darkblue">
            <a class="list-nav-element" href="./summary.html">
                <img src="../img/aside_and_header/summary-icon.png" />
                <span class="nav-list-span">Summary</span></a>
        </li>
        <li id="addTask-list-element" class="hover-darkblue">
            <a class="list-nav-element" href="./add_task_n_include.html">
                <img src="../img/aside_and_header/addTask-icons.png" />
                <span class="nav-list-span">Add Task</span></a>
        </li>
        <li id="board-list-element" class="hover-darkblue">
            <a class="list-nav-element" href="./board.html">
                <img src="../img/aside_and_header/board-icons.svg" /><span class="nav-list-span">Board</span></a>
        </li>
        <li id="contacts-list-element" class="hover-darkblue">
            <a class="list-nav-element" href="./contacts.html">
                <img src="../img/aside_and_header/contacts-icons.svg" />
                <span class="nav-list-span">Contacts</span></a>
        </li>
    </ul>
</nav>
<div id="legal-section">
    <ul id="legal-section-flex">
        <li class="legal-list-element hover-darkblue" id="privacy-list-element">
            <a href="privacyPolicyExtern.html"><span class="legal-list-span">Privacy Policy</span></a>
        </li>
        <li class="legal-list-element hover-darkblue" id="legalNotice-list-element">
            <a href="legalNoticeExtern.html"><span class="legal-list-span">Legal Notice</span></a>
        </li>
    </ul>
</div>