<div>
  <ul id="flex-list-container-mobile">
    <li class="hover-darkblue">
      <a class="list-nav-element-mobile" href="./summary.html">
        <img src="../img/aside_and_header/summary-icon.png" />
        <span class="nav-list-span">Summary</span>
      </a>
    </li>
    <li class="hover-darkblue">
      <a class="list-nav-element-mobile" href="./board.html">
        <img src="../img/aside_and_header/board-icons .png" />
        <span class="nav-list-span">Board</span>
        </a>
    </li>
    <li class="hover-darkblue">
      <a class="list-nav-element-mobile" href="./add_task_n_include.html">
        <img src="../img/aside_and_header/addTask-icons.png" />
        <spanclass="nav-list-span">Add Task</span>
        </a>
    </li>
    <li class="hover-darkblue">
      <a class="list-nav-element-mobile" href="./contacts.html"><img src="../img/aside_and_header/contacts-icons.png" />
        <span class="nav-list-span">Contacts</span>
        </a>
    </li>
  </ul>
</div>